<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Show</title>
    <!-- link for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div id="wrapper" style="width: 88%; margin: 0px auto; text-align: center;">
        <i class="medium material-icons" style="margin: 0px 0px;">live_tv</i>
        <h1 style="display: inline-block; margin: 0; ">Add a New Show</h1>
        <!-- Form to add new Shows -->
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <label class="form-label">Title</label>
                    {{form.title}}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label class="form-label">Network</label>
                    {{form.network}}
                </div>
                <div class="input-field col s6">
                    <!-- <label for="release_date">Release Date</label> -->
                    
                    {{form.release_date}}
                </div>
            </div>

            <div class="row">
                <div class="input field col s12" style="text-align: left;">
                    <label class="form-label">Description</label>

                    {{form.description}}
                </div>
            </div>
            <input type="submit" value="Create">
        </form>
    </div>
</body>

</html>